**/__pycache__
**/.DS_Store
**/data/*
!**/data/.gitkeep 
**/visionModels_runs/*
!**/visionModels_runs/.gitkeep 
**/logistic_reg_runs/*
!**/logistic_reg_runs/.gitkeep 
**/convNet_runs/*
!**/convNet_runs/.gitkeep 
**/multiLayerNet_runs/*
!**/multiLayerNet_runs/.gitkeep 
plots/



